<div class="solutions-img0-content debrief-div"></div>
<div class="page-content center-div">
  <div>
    <mat-card class="card-margin card-style">
      <mat-card-header>
        <mat-card-title><h2 class="card-title"><i> GeoAI for drone</i></h2></mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="droneTitleImg" class="card-img">
      <mat-card-content class="card-content">
        <span class="info-string">Drone technology can only unlock its full potential when data acquisition and data analytics happen at the highest degree of automation!<br><br></span>
        <h3>Why We Co-operate?<br></h3>
        <p>
          Unmanned aerial vehicles (UAVs) (commonly known as drones) have become important tools for agriculture, forestry, energy, construction, real estate, urban planning, security, and defense. Once the drone has captured raw sensor data, it usually needs to be analyzed in some way to extract meaningful information for a certain purpose. Drones often generate large amounts of spatial data – oftentimes more than we can handle. Drone only add value to the user if there are ways to process data quickly and without putting additional efforts into this process. The faster, the more accurate, and the easier the images can be evaluated, the better. Combining drones, artificial intelligence, and geospatial technology is the answer to the above challenge. Super GeoAI for drone is designed to make efficient use of large volume of imagery data as automated and seamless as possible.<br><br>

          Pairing the real-time machine learning technology of AI with the exploratory abilities of a drone gives ground-level operators a human-like eye-in-the-sky. In the past, farmers relied on experience and intuition to determine the best time to plant crops or sow seeds for a garden. AI technology can predict the best time to plant and the right amount of fertilizer to apply. It can also aid farmers to spot diseased crops or to manage solar farming technology.<br><br>

          In partnership with several top AI and drone companies, we provide the following products and solutions.<br><br>

          •	Drone Data Acquisition<br>
          •	2D/3D Feature Extraction<br>
          •	3D Video Production<br>
          •	Drone Data Processing and Management<br>
        </p>
          
        <h3>Our operate Drone & Sensor<br></h3>
        <p>
          Super GeoAI Technology Inc. has a Transport Canada license with an Advanced Operations Certificate. Currently we operate Drone & Sensor which includes the following software: DJI Phantom 4 Pro, Matrice 600 Pro, Inspire 1 Pro, and Mavic 2 Pro. The camera and sensor contain Optical camera, Lidar Sensor (Velodyne 32), and Thermal Camera (Zenmuse XT Series).<br>
        </p>
        <div>
          <ng-image-slider #nav
            [images]="slideShowImgs"
            [infinite]="true"
            [animationSpeed]="speed"
            [autoSlide]="1"
          ></ng-image-slider>
        </div>
      </mat-card-content>
    </mat-card>
  </div>  
</div>
<div class="solutions-img1-content debrief-div"></div>
<div class="page-content center-div">
  <mat-card class="card-margin card-style">
    <mat-card-header>
      <mat-card-title><h2 class="card-title"><i> GeoAI for Object Recognition</i></h2></mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <h3> Is object recognition technology?<br></h3>
      <p>
        Object recognition is a key output of deep learning and machine learning algorithms. Object recognition technology is a computer vision technique for finding and identifying objects in an image or video sequence. In essence, object recognition technology allows computers to identify and process images in a way similar to human vision. This is particularly useful in automated vehicle technology, facial recognition, military preparedness, and a myriad of other marketing applications. Object recognition technology, oftentimes intermingled with geospatial technology has been one of the greatest evolutions of the modern era. It is also useful in a variety of applications such as disease identification in images, industrial inspection, and crop classification.<br><br>

      </p>
      <img mat-card-image [src]="recognitionPhotoPath">
      <h3>How Object Recognition Works?<br></h3>
      <p>
        Deep learning techniques have become a popular method for doing object recognition. Deep learning models such as convolutional neural networks (CNNs) are used to automatically learn an object’s inherent features in order to identify that object. For example, a CNN can learn to identify differences between dogs and cats by analyzing thousands of training images and learning the features that make dog and cats different. Deep learning offers a high level of accuracy but requires a large amount of data to make accurate predictions.<br><br>

        Machine learning techniques are also popular for object recognition. To perform object recognition, you start with a collection of images or video, and select the relevant features in each image. For example, a feature extraction algorithm might extract edge or corner features that can be used to differentiate between classes in your data. These features are added to a machine learning model, which will separate these features into their distinct categories, and then use this information when analyzing and classifying new objects. Using machine learning for object recognition offers the flexibility to choose the best combination of features and classifiers for learning. It can achieve accurate results with minimal data.<br><br>

      </p>
      <h3>What is our Super GeoAI for Object Recognition?<br></h3>
      <p>
        In partnership with farmers in Saskatchewan, researchers at the University of Saskatchewan, and investors’ from US and China, SuperGeoAI has been working to develop cutting-edge mobile app on Android phone or IOS phone to identify and process images in a way similar to human vision. This mobile app has been developing to detect, recognize, count, and analyze multiple objects in digital images or videos. Building on top of the latest object recognition technology and the geospatial technology, our app has the power to extract and analyze the spatial information from these recognized objects.
      </p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Get Demo</button>
    </mat-card-actions>
  </mat-card>
</div>
<footer>
  <mat-toolbar class="sticky-bot-footer">
    <mat-toolbar-row>
      <span class="name-padding company-footer-name"> Super GeoAI Technology Inc. </span>
      <span class="example-fill-remaining-space"></span>
      <span>SiteMap | Privacy</span>
      <span class="example-fill-remaining-space"></span>
      <div class="nav-tool-bar-end">
          <button mat-icon-button>
              <mat-icon>settings</mat-icon>
          </button>
          <button mat-icon-button>
              <mat-icon>help_outline</mat-icon>
          </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
