.page-content {
    padding: 24px;
}

.card-margin {
    margin: 24px;
}

.center-div  {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.center-string {
    color: #616161;
    text-align: center;
    padding:  24px;
    font-size: 32px;
}

.center-icon  {
    color: #616161;
    text-align: center;
    padding:  24px;
    font-size: 56px;
}